<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046811389890-5rv4riuidc5id1f6lnrvui88e72gde16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046811389890-5rv4riuidc5id1f6lnrvui88e72gde16</string>
	<key>API_KEY</key>
	<string>AIzaSyCEHRzSSDCx62KeuSBgOD3p5Jbd66SyjVk</string>
	<key>GCM_SENDER_ID</key>
	<string>1046811389890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatStartingProject</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3b5bd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3b5bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046811389890:ios:174c96a3fcb8f3f52df05b</string>
</dict>
</plist>